<form novalidate [formGroup]="form" (submit)="submit(form.value)">

  <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
       class="alert alert-danger" role="alert">
    <div><strong>Oops!</strong></div>
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>
  <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
       class="alert alert-success" role="alert">
    <div><strong i18n="@@hooraySuccess">Success!</strong></div>
    <div *ngFor="let message of messages">{{ message }}</div>
  </div>

  <div class="row">

    <div class="col-md-12">
      <app-editor formControlName="choice"
                              [label]="'Choice *'">

      </app-editor>
      <small class="form-text error" *ngIf="!choice.valid && choice.touched && choice.errors?.required">
        Choice is required.
      </small>
    </div>

    <div class="col-md-12">
      <app-choice-select formControlName="parent"
                              [label]="'Select parent choice *'">

      </app-choice-select>
      <small class="form-text error" *ngIf="!choice.valid && choice.touched && choice.errors?.required">
        Choice is required.
      </small>
    </div>

  </div>

  <div class="row" *ngIf="canShowSubmitButton">
    <div class="col-md-12 text-right pt-2">
      <button type="submit"
              class="btn btn-primary"
              [class.btn-pulse]="submitted"
              [disabled]="!form.valid || submitted">
        Save
      </button>
    </div>
  </div>

</form>
